/*********************************/
  /* css voor de home pagina */
/********************************/

/***************************************************/
  /* css reset bron: Yara de student-assistent */
/*************************************************/
*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




/*************/
  /* logo */
/************/
header img{ 
    width: 3em;
    height: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}




/*******************************/
  /* "upcoming events" knop */
/******************************/
header a{  
    color: var(--accentKleur5);
    border-radius: 0.6em;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase; /* tekst in allemaal hoofdletters */
    font-weight: bold;

    padding-top: 0.7em;
    padding-right: 1em;
    padding-bottom: 0.7em;
    padding-left: 1em;

    margin-right: 0.5em;
    margin-left:auto; /* de margin-left wordt zo groot als de ruimte die over is bron: flexbox opdracht */

    white-space: nowrap; /* tekst altijd op 1 regels */

    background-image: /* bron: docent */
        linear-gradient(
            135deg,
            indigo calc(33% + 2em),
            rgba(76, 0, 130, 0.611) calc(33% + 2em) calc(33% + 3em),
            indigo calc(33% + 3em)
        );

    background-size: 300% 100%;
    animation: glans 3s linear infinite;
}

header a:hover{
    rotate: 357deg;
}

header a:focus{
    background-image: /* bron: docent */
    linear-gradient(
        135deg,
        rgba(76, 0, 130, 0.611) calc(33% + 2em),
        indigo calc(33% + 2em) calc(33% + 3em),
        rgba(76, 0, 130, 0.611)  calc(33% + 3em)
    );

    background-size: 300% 100%;
    animation: glans 3s linear infinite;
}

header a:active{
    background-image: /* bron: docent */
    linear-gradient(
        135deg,
        rgba(76, 0, 130, 0.611) calc(33% + 2em),
        indigo calc(33% + 2em) calc(33% + 3em),
        rgba(76, 0, 130, 0.611)  calc(33% + 3em)
    );

    background-size: 300% 100%;
    animation: glans 3s linear infinite;
}

@keyframes glans{
    0% {
        background-position: right center;
    }
    100% {
        background-position: left center;
    }
}




/***************************************************************************/
  /* caroussel bron: docent link: https://codepen.io/shooft/pen/oNzGJMM */
/**************************************************************************/
.caroCarrousel {
    position:inherit; 
	outline:none;
}

/* de carrousel elementen container */
.caroCarrousel > ul {
    margin: 0; 
    padding: 0;
    list-style: none;
    display: flex;
    overflow: auto; /* handmatig scrollen is mogelijk */
      
    scroll-snap-type: inline mandatory; /* snappen als er gescrolled wordt - andere helft bij li */

    -webkit-overflow-scrolling: touch; /* scrollbar zoveel mogelijk verbergen voor iOS*/
    -ms-overflow-style: none; /* scrollbar zoveel mogelijk verbergen voor IE */
    scrollbar-width: none; /* scrollbar zoveel mogelijk verbergen voor firefox */
}
  
.caroCarrousel > ul::-webkit-scrollbar {
    display: none; /* scrollbar zoveel mogelijk verbergen voor chrome, safari en edge*/
}
  
/* de carrousel elementen */
.caroCarrousel > ul li {
    flex-basis: 100%;
    flex-shrink: 0;
    
    scroll-snap-align:center; /* snappen als er gescrolled wordt - andere helft bij ul */
}
  
/* de stijlen voor jouw content hier */
.caroCarrousel > ul li > img {
    display: block;
    width: 100%;
    height: 20em;
    padding: 2em;
    border-radius: 3em;
}
  
/* de bolletjes container */
.caroCarrousel nav ul {
    position:inherit;
    left: 2em; 
    right: 2em;
    bottom: 0;
    margin: 0;
    padding: 0 0 .5em;
    list-style: none;
      
    display: flex;
    justify-content: center;
    gap:.4em; /* ruimte ertussen */
}
  
/* een bolletje container */
.caroCarrousel > nav li {
    flex-basis: 1.2em;
    aspect-ratio: 1/1;  /* een verhouding van 1 breed bij 1 hoog */
}
  
/* de bolletjes */
.caroCarrousel > nav a {
    display: block;
    width:1em;
    height:1em;
    
    text-decoration: none;

    border-radius: 50%;
    outline: none;
    
    transition: 0.5s;
}

/* bolletjes eerste carrousel */
.caroCarrousel:nth-of-type(1) > nav a {
    background-color: var(--bolletjesKleur);
}

.caroCarrousel:nth-of-type(1) > nav a.current {
    background-color: var(--hoofdKleur);
}

/* bolletjes section "upcoming events" */
.caroCarrousel:nth-of-type(2) > nav a {
    background-color:var(--bolletjesKleur2);
}

.caroCarrousel:nth-of-type(2)> nav a.current {
    background-color: var(--accentKleur2);
}

/* bolletjes section "our creative world" */
.caroCarrousel:nth-of-type(4) > nav a {
    background-color:var(--bolletjesKleur3);
}

.caroCarrousel:nth-of-type(4) > nav a.current {
    background-color: var(--accentKleur3);
}




/***********************************/
  /* section "upcoming events" */
/*********************************/
section:nth-of-type(2){
    background-image: linear-gradient( /* gekleurd vlak achter de tekst */
    182deg, 
    transparent 4em, 
    rgba(130, 15, 130, 0.144) 
    4em)
}

section:nth-of-type(2) h2{ 
    color:var(--accentKleur);
    width: 2em;
    padding-top: 1.5em;
    padding-bottom: 0.5em;

    text-shadow: /* bron: docent */
        0 0 .4em var(--bolletjesKleur2),
        0 0 .4em var(--bolletjesKleur2),
        0 0 .4em var(--bolletjesKleur2);
} 

section:nth-of-type(2) > ul li{ /* meest directe ul van de section */
    padding:2em;
}

section:nth-of-type(2) article{
    display: flex;
    flex-direction: column;
    padding:2em;
}

section:nth-of-type(2) article p:nth-of-type(1) {
    order: 2;
    margin-top: 1em;
}

section:nth-of-type(2) article p:nth-of-type(2) {
    order: 4;
    margin-top: 1em;
}

section:nth-of-type(2) article img{
    order: 1;
    width:100%;
} 

section:nth-of-type(2) article h3{
    order: 3;
    margin-top: 1em;
    color:var(--tekstKleur);
    font-size: 1em;
    width: 100%;
}

/* de land namen */
h3 em{  
    text-transform: uppercase; /* tekst in allemaal hoofdletters */
    font-style: normal;
}

/* de datum */
section:nth-of-type(2) p:nth-of-type(1){ 
    text-transform: uppercase; /* tekst in allemaal hoofdletters */
    color:var(--tekstKleur);
} 

/* de "buy tickets" knop */
section:nth-of-type(2) article a {
    order: 5;
    margin-top: 4em;
    border-radius: 0.5em;
    background-color:var(--hoofdKleur);
    color:var(--accentKleur5);
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase; /* tekst in allemaal hoofdletters */
    width:100%;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* bron: docent link: https://codepen.io/shooft/pen/KKorGPa?editors=0110 */
@keyframes kloppend{
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.8);
    }
}

section:nth-of-type(2) article a{
    animation-name: kloppend;
    animation-duration: 2s;
    animation-iteration-count: infinite; /* blijft altijd door gaan - stopt niet */
}

section:nth-of-type(2) article a:hover{
    transform:translate(-.25em, -.25em);
    box-shadow: 0 .5em var(--stateKleur);
}

section:nth-of-type(2) article a:focus{
    background-color:var(--stateKleur);
    box-shadow:none;
}

section:nth-of-type(2) article a:active{
    background-color:var(--stateKleur);
    box-shadow:none;
}




/* de "show all" knop + de "vorige en volgende" knop */
section:nth-of-type(2) div{
    display: flex;
    gap: 1em;
    padding: 2em;
}

/* de "show all" knop */
section:nth-of-type(2) div a{
    border-radius: 8em;
    background-color:var(--accentKleur);
    color:var(--accentKleur5);
   
    text-transform: uppercase; /* tekst in allemaal hoofdletters */
    font-weight: bold;
    height: 4em;

    flex-grow: 1;  /* als flex kind */

    display: flex; /* als flex parent */
    justify-content: center;
    align-items: center;
}

section:nth-of-type(2) div a:hover{ /* bron: docent link: https://codepen.io/shooft/pen/yLKWzqy */
    transform:translatey(-.5em); 
    box-shadow: 0 .5em var(--accentKleur2);
}

section:nth-of-type(2) div a:focus{
    background-color: var(--accentKleur2);
    box-shadow:none;
}

section:nth-of-type(2) div a:active{
    background-color: var(--accentKleur2);
    box-shadow:none;
}

/* de "vorige en volgende" knop */
section:nth-of-type(2) div button{
    border: none;
    border-radius: 50%;
    background-color: var(--accentKleur);
    padding: 0em;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

section:nth-of-type(2) div button:hover{
    transform:translatey(-.5em); 
    box-shadow: 0 .5em var(--accentKleur2);
}

section:nth-of-type(2) div button:focus{
    background-color: var(--accentKleur2);
    box-shadow:none;
}

section:nth-of-type(2) div button:active{
    background-color: var(--accentKleur2);
    box-shadow:none;
}

/* de "vorige en volgende" pijl */
section:nth-of-type(2) div button img{
    width: 3em;
    height: 3em;
    display: block;
}




/**********************************/
  /* section "elrow's planet" */
/********************************/
section:nth-of-type(3){
    background-color:var(--accentKleur2);
    background-image: url(https://elrow-vapor-bucket.s3.eu-west-1.amazonaws.com/public/assets/images/home/planet-elrow/background.svg);
    background-repeat: no-repeat; /* bron: https://www.w3schools.com/cssref/css3_pr_background-size.asp */
    background-size: 100%;
    background-position: right;
    height: 40em;
}

section:nth-of-type(3) h2{ 
    color:var(--hoofdKleur);
    font-size: 2em;
    text-transform: uppercase; /* tekst in allemaal hoofdletters */
    padding-top: 3em;


    text-shadow: /* bron: docent */
        0 0 .4em var(--shadowKleur2),
        0 0 .4em var(--shadowKleur2),
        0 0 .4em var(--shadowKleur2);
} 

section:nth-of-type(3) ul {
    column-count: 2;
    column-gap: 2em; /* ruimte ertussen */
    margin-top: 2em;
}

section:nth-of-type(3) h3{ 
    color:var(--accentKleur5);
    font-size: 1em;
    text-transform: uppercase; /* tekst in allemaal hoofdletters */
    margin-left: 1em;
    width: 6em;
} 

section:nth-of-type(3) p{ 
    color:var(--hoofdKleur);
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase; /* tekst in allemaal hoofdletters */
    margin-top: 0.2em;
    margin-bottom: 1em;

    text-shadow: /* bron: docent */
        0 0 .6em var(--shadowKleur2),
        0 0 .6em var(--shadowKleur2),
        0 0 .6em var(--shadowKleur2);
} 




/*************************************/
  /* section "our creative world" */
/************************************/
section:nth-of-type(4){
    background-image: linear-gradient( /* gekleurd vlak achter de tekst */
    182deg, 
    transparent 4em, 
    rgba(59, 131, 246, 0.149)
    4em);
    margin-top: 3em;
}

section:nth-of-type(4) h2:nth-of-type(1){ /* de tekst "our" */
    color:var(--accentKleur3);
    padding-top: 1.5em;

    text-shadow: /* bron: docent */
        0 0 .4em var(--bolletjesKleur3),
        0 0 .4em var(--bolletjesKleur3),
        0 0 .4em var(--bolletjesKleur3);
} 

section:nth-of-type(4) h2:nth-of-type(2){ /* de tekst "creative world" */
    color:var(--accentKleur3);
    padding-bottom: 0.5em;

    text-shadow: /* bron: docent */
        0 0 .4em var(--bolletjesKleur3),
        0 0 .4em var(--bolletjesKleur3),
        0 0 .4em var(--bolletjesKleur3);
} 




section:nth-of-type(4) > ul li{
    padding:2em;
}

section:nth-of-type(4) article{
    display: flex;
    flex-direction: column;
    padding:2em;
    height: 35em;
}

section:nth-of-type(4) article h3{
    order: 2;
    font-size: 1.5em;
    margin-top: 1em;
}

section:nth-of-type(4) article p{
    order: 3;
    margin-top: 1em;
}

section:nth-of-type(4) article img{
    order: 1;
    width:100%;
}

/* de "show all" knop + de "vorige en volgende" knop */
section:nth-of-type(4) div{
    display: flex;
    gap: 1em; /* ruimte ertussen */
    padding: 2em;
}

/* de "show all" knop */
section:nth-of-type(4) div a{
    border-radius: 8em;
    background-color:var(--accentKleur3);
    color:var(--accentKleur5);
   
    text-transform: uppercase; /* tekst in allemaal hoofdletters */
    font-weight: bold;
    height: 4em;

    flex-grow: 1;  /* als flex kind */

    display: flex; /* als flex parent */
    justify-content: center;
    align-items: center;
}

section:nth-of-type(4) div a:hover{
    transform:translatey(-.5em); 
    box-shadow: 0 .5em var(--stateKleur2);
}

section:nth-of-type(4) div a:focus{
    background-color: var(--stateKleur2);
    box-shadow:none;
}

section:nth-of-type(4) div a:active{
    background-color: var(--stateKleur2);
    box-shadow:none;
}

/* de "vorige en volgende" knop */
section:nth-of-type(4) div button{
    border: none;
    border-radius: 50%; /* maakt het rond */
    background-color: var(--accentKleur3);
    padding: 0em;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

section:nth-of-type(4) div button:hover{
    transform:translatey(-.5em); 
    box-shadow: 0 .5em var(--stateKleur2);
}

section:nth-of-type(4) div button:focus{
    background-color: var(--stateKleur2);
    box-shadow:none;
}

section:nth-of-type(4) div button:active{
    background-color: var(--stateKleur2);
    box-shadow:none;
}

/* de "vorige en volgende" pijl */
section:nth-of-type(4) div button img{
    width: 3em;
    height: 3em;
    display: block;
}




/*******************************/
  /* section "our friends" */
/*****************************/
section:nth-of-type(5){
    margin-top: 3em;
}

section:nth-of-type(5) h2{ 
    color:var(--accentKleur4);

    text-shadow: /* bron: docent */
    0 0 .4em var(--shadowKleur),
    0 0 .4em var(--shadowKleur),
    0 0 .4em var(--shadowKleur);
}

section:nth-of-type(5) ul{
    column-count: 2; /* 2 rijen naast elkaar */
    column-gap: 2em; /* ruimte ertussen */
}

section:nth-of-type(5) img{
    width: 8em;
    height: 5em;
    margin-top: 2em;
    margin-left: 2em;
}
