/*********************************/
  /* css voor beide pagina's */
/********************************/

/***************************************************/
  /* css reset bron: Yara de student-assistent */
/*************************************************/
*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




/****************/
  /* kleuren */
/***************/
:root{
    --hoofdKleur: deeppink;

    --headerKleur: rgba(255,255,255,0.98); 

    --navKleur: rgba(76, 0, 130, 0.961); 

    --accentKleur: blueviolet;
    --accentKleur2: indigo;
    --accentKleur3: blue;
    --accentKleur4: dimgrey;
    --accentKleur5: white; 
    --accentKleur6: #e62d2d;

    --bolletjesKleur: #e8e1e4;
    --bolletjesKleur2: rgba(137, 43, 226, 0.282);
    --bolletjesKleur3: rgba(0, 0, 255, 0.269);

    --tekstKleur: grey;
    --footerTekstKleur: black;

    --stateKleur: rgb(187, 27, 113); 
    --stateKleur2: rgb(23, 23, 160);

    --shadowKleur:rgba(105, 105, 105, 0.53);
    --shadowKleur2: rgba(255, 20, 145, 0.51);
    --shadowKleur3: #d01f1f;
}




body{ 
    font-family:Arial,sans-serif;
}

button {
    cursor:pointer;   /* waar een link is word de muis een hand */
} 

h2{
    font-size: 3.5em;
    padding-left: 0.5em;
    font-weight:bolder;
}

h3{
    color: var(--accentKleur4);
    padding-left: 0.5em;
}

p{
    color: var(--tekstKleur);
    padding-left: 0.5em;
}

header{
    display: flex;
    justify-content:left;
    align-items:center;

    height: 6em;
    position: sticky; /* blijft bovenaan tijdens het scrollen */ 

    top:0;
    background: var(--headerKleur);

    z-index: 100; /* is bovenste laag van alle lagen */
}

a{
    text-decoration:none; /* geen lijn onder de a */
}

ul{
    list-style-type: none; /* geen bolletjes voor de li */
}


/*****************************/
  /* tekst naast het logo */
/***************************/
/*header p{  
    width: 9em;
    margin-left: 1em;
    margin-right: auto; de margin-right wordt zo groot als de ruimte die over is bron: flexbox opdracht
} */




/****************************/
  /* het hamburger menu */
/**************************/
header button{
    background: none;
    border: none;
    margin-right: 1em;
}

header button img{
    width: 3em;
    height: 2em;
}



/*******************************************************************************/
  /* de navigatie bron: docent link: https://codepen.io/shooft/pen/GRxXboQ */
/*****************************************************************************/
header nav {
	position:fixed; /* - verliest zijn plek in de flow - blijft op die vaste plek staan als de gebruiker scrolt */
	top:0;
	bottom:0;
	left:0;
	right:0;
	
    overflow-y: auto; /* verticaal scrollbaar */

	background-color:var(--navKleur);
	
	transform:translateX(-100%); /* nav is 100% naar de linker kant */
	
	transition-duration:.3s;
}

header nav.open {
	transform:translateX(0%); /* nav komt in beeld met 0% aan de linker en rechter kant */
} 

/* logo + sluit icon */
header div{
    display: flex;
}

/* logo */
header div img{
    width: 7em;
    height: 3em;
    margin-left: 0.5em;
    margin-top: 2em;
    margin-right:auto; /* de margin-right wordt zo groot als de ruimte die over is bron: flexbox opdracht */
}

/* taal button */
header nav button{
    color: var(--accentKleur5);
    font-size: 0.8em;
    text-transform: uppercase; /* tekst allemaal hoofdletters */
    text-align: center;

    background: none;

    border-style: solid;
    border-radius: 0.8em;
    border-color: var(--accentKleur5); 

    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;

    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2.5em;
}

/* sluit icon */
header div button{
    background: none;
    border: none;
}

header div button img{
    width: 4em;
    height: 2em;
}

/* de tekst */
header nav a{
    background: none;
    text-transform: none;
    margin-left: 0.5em;
}

header ul:nth-of-type(1) li{
    font-size: 1.5em;
    margin-top: 1em;
    font-weight: bold;
}

@keyframes bounce{ /* bron: docent link: https://codepen.io/shooft/pen/KKorGPa */
    0% {
        transform:scale(1);
      }
    100% {
        transform:scale(1.1);
      }
}

header ul li:hover{
    animation-name: bounce;
    animation-duration: 1s;
}

header nav a:hover{
    color: var(--hoofdKleur)
}

header nav a:focus{
    color:var(--stateKleur);
}

header nav a:active{
    color:var(--stateKleur);
}

/* algemene informatie in nav */
header ul:nth-of-type(2){
    margin-top: 3em;
    margin-left: 0.7em;
    column-count: 2;
}

header ul:nth-of-type(2) a{
    font-size: 1em;
    font-weight:normal;
}

/* de social media icons */
header ul:nth-of-type(3){
    display: flex;
}

header ul:nth-of-type(3) img{
    width: 2em;
    height: 2em;
    margin-top: 1em;
}

@keyframes zoen-animation { /* bron: docent link: https://codepen.io/shooft/pen/KKorGPa */
    0% {
      transform:scale(1);
    }
    100% {
      transform:scale(2);
    }
}

header ul:nth-of-type(3) img:hover{ 
    animation-name:zoen-animation;
    animation-duration:1s;
    rotate: 15deg;
}




/*********************/
  /* help button */
/*******************/
main > button{  /* meest directe button van de main */
    font-size: 1em;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;

    appearance: none;
    border: none;
    border-radius: 1em;
    
    font-weight: bold;

    position: fixed; /* - verliest zijn plek in de flow - blijft op die vaste plek staan als de gebruiker scrolt */
    right: 1em;
    bottom: 1em;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100; /* is bovenste laag van alle lagen */

    background-image: /* bron: docent */
        linear-gradient(
            135deg,
            deeppink calc(33% + 2em),
            rgba(255, 20, 145, 0.583) calc(33% + 2em) calc(33% + 3em),
            deeppink calc(33% + 3em)
        );

    background-size: 300% 100%;
    animation: glans 3s linear infinite;
}

@keyframes glans{ /* bron: docent */
    0% {
        background-position: right center;
    }
    100% {
        background-position: left center;
    }
}

main > button:hover{
    rotate: 357deg;
}

main > button:focus{
    background-image: /* bron: docent */
    linear-gradient(
        135deg,
        rgba(255, 20, 145, 0.583) calc(33% + 2em),
        deeppink calc(33% + 2em) calc(33% + 3em),
        rgba(255, 20, 145, 0.583) calc(33% + 3em)
    );

    background-size: 300% 100%;
    animation: glans 3s linear infinite;
}

main > button:active{
    background-image: /* bron: docent */
    linear-gradient(
        135deg,
        rgba(255, 20, 145, 0.583) calc(33% + 2em),
        deeppink calc(33% + 2em) calc(33% + 3em),
        rgba(255, 20, 145, 0.583) calc(33% + 3em)
    );

    background-size: 300% 100%;
    animation: glans 3s linear infinite;
}

main > button img{
    height: 1em;
    width: 1em;
    margin-right: 0.4em;
}




/****************************************************************/
  /* alle vakken waar de verschillende onderwerpen in staan */
/**************************************************************/
article{ 
    border-radius: 0.7em;
    background-color:var(--accentKleur5);
    box-shadow: 0.4em 0.4em 0.4em -0.5em grey;
    height: 43em;
    width: 100%;
    margin-bottom: 0.5em;
}

article img{
    border-radius: 0.7em;
    height: 25em;
    width: 25em;
}

article:hover{ /* bron: https://www.geeksforgeeks.org/how-to-zoom-an-image-on-mouse-hover-using-css/ */
    transform: scale(1.03);
    transition-duration: 0.5s;
}




/*******************/
  /* de footer */
/******************/
footer{
    background-image: 
        linear-gradient( /* gekleurd vlak achter de tekst */
          178deg, 
          transparent 3.9em,
          rgb(242, 238, 7) 4em
        ),
        linear-gradient( 
          182deg, 
          transparent 3.9em,
          rgb(249, 213, 9) 4em
        );

    height: 70em;
}

footer h2{
    color:var(--tekstKleur);
    text-transform: uppercase; /* tekst in allemaal hoofdletters */
    font-size: 0.9em;
    padding-left: 0;
    font-weight: lighter;
    margin-top: 2em;
}

footer li{
    margin-top: 1em;
}

footer a{
    color:var(--footerTekstKleur);
    font-size: 0.9em;
}

footer nav{
    margin-left: 2em;
    margin-right: 2em;
}

footer nav:nth-of-type(1){
    display: flex;
}

footer nav:nth-of-type(1) ul:nth-of-type(1){
    margin-top: 9em;
    margin-right: 6em;
}

footer nav:nth-of-type(1) ul:nth-of-type(2){
    margin-top: 9em;
}

/* het logo */
footer nav:nth-of-type(1) img{
    width: 5em;
    height: 3em;
    margin-top: 5em;
    margin-left:auto; /* de margin-left wordt zo groot als de ruimte die over is bron: flexbox opdracht */
}

footer a{ /* bron: docent link: https://codepen.io/shooft/pen/qBogPoM?editors=1010 */
    position:relative; /* behoudt zijn plek in de flow */
    transition:color .5s;
}

footer a::after{
    content:"";
    position:absolute; /* verliest zijn plek in de flow */
    left:0;
    right:0;
    top:100%;
    height:.2em;
    background-color:var(--hoofdKleur); /* kleur van de lijn */
  
    transform:scaleX(0); /* initieel horizontaal helemaal plat */
    transition:transform .5s;
}

footer a:hover::after {
    transform:scaleX(1); /* nu horizontaal de hele breedte */
}

footer a:focus::after {
    transform:scaleX(1); /* nu horizontaal de hele breedte */
}

footer a:active {
    color:var(--accentKleur2);
}

/* algemene informatie in nav */
footer nav:nth-of-type(3){
    display: flex;
    gap: 6em; /* ruimte ertussen */
    margin-top: 2em;
}

/* de social media icons */
footer nav:nth-of-type(4) ul:nth-of-type(1){
    display: flex;
    gap: 1.5em; /* ruimte ertussen */
}

footer nav:nth-of-type(4) img{
    width: 2em;
    height: 2em;
    margin-top: 1em;
}

@keyframes zoen-animation { /* bron: docent link: https://codepen.io/shooft/pen/KKorGPa */
    0% {
      transform:scale(1);
    }
    100% {
      transform:scale(2);
    }
}

footer nav:nth-of-type(4) img:hover{ 
    animation-name:zoen-animation;
    animation-duration:1s;
    rotate: 15deg;
}


















